# Build outputs
**/bin/
**/obj/
dist/
.build/
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Testing/
CTestTestfile.cmake
cmake_install.cmake
Makefile

# Arduino build
*.bin
*.elf
*.hex
*.map

# VS
.vs/
*.user
*.suo
__pycache__/
